body {
    background-color: #C49102; /* Dark mustard yellow */
    color: white;
    font-family: 'Lora', serif;
}

.header-title {
    font-family: 'Danfo', serif;
    font-size: 50px;
}

.nav-pane {
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: right;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0;
}

.nav-pane a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 24px;
    font-color: #C49102;
}
