body {
    background-color: #C49102; /* Dark mustard yellow */
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-title {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    font-size: 50px;
}

.nav-pane {
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
    text-align: right;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0;
}

.nav-pane a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 24px;
    color: #C49102;
}

.emphasis {
    font-style: italic;
    font-size: 24px;
    color: #C49102;
}
